<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/mvc"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- prevent suffix in url to force a content negotiation -->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" >
        <mvc:message-converters>
            <beans:bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <beans:property name="objectMapper">
                    <beans:bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean" 
                        p:failOnUnknownProperties="true">
                        <beans:property name="featuresToEnable"> 
                            <beans:value type="com.fasterxml.jackson.databind.MapperFeature">
                                ACCEPT_CASE_INSENSITIVE_ENUMS
                            </beans:value>
                        </beans:property>
                    </beans:bean>
                </beans:property>
            </beans:bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <!-- serve static resources from webapp/assets/* as /public/assets/* -->
    <mvc:resources mapping="/assets/**" location="/assets/" />

    <!--
 <beans:bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
   <beans:property name="objectMapper">
       <beans:bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean" 
           p:failOnUnknownProperties="true"/>
   </beans:property>
 </beans:bean>
 -->

    <beans:bean id="contentNegotiationManager" 
        class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <beans:property name="favorPathExtension" value="false" />
    </beans:bean>

	<beans:bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />

	<beans:bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!-- when redirecting, do NOT include the context path -->
	<beans:bean id="defaultRedirectStrategy" scope="request"
		class="org.springframework.security.web.DefaultRedirectStrategy">
		<beans:property name="contextRelative" value="true" />
	</beans:bean>


	<!-- Allow Exceptions to be handled in annotated methods if desired. Otherwise 
		fallback to the 'restExceptionResolver' below: -->
	<beans:bean id="annotationMethodHandlerExceptionResolver"
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerExceptionResolver">
		<beans:property name="order" value="0" />
	</beans:bean>

	<beans:bean id="restExceptionResolver" class="com.bryllyant.kona.rest.RestExceptionHandler">
		<beans:property name="order" value="0" />
		<beans:property name="errorResolver">
			<!-- <beans:bean class="com.bryllyant.kona.rest.DefaultRestErrorResolver"> -->
			<beans:bean class="com.bryllyant.kona.api.exception.RestErrorResolver">
				<beans:property name="localeResolver" ref="localeResolver" />
			</beans:bean>
		</beans:property>
	</beans:bean>

</beans:beans>
